<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">
      Reminder App
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="navigateToReminder()">
      <ion-icon name="add"></ion-icon>
    </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Reminder List</h1>
  <div *ngIf="shouldShowEmptyState">
    <img src="assets/images/clock.png">
    <span>You don't have any reminders created. Start by clicking on the add button.</span>
  </div>


  <ion-list>
    <ion-item (click)="gotoDetail(item)" *ngFor="let item of reminderList" style="background-color: hotpink">
      <span>From {{item.getDateDate(item.date)| date: 'yMMMd'}} to {{item.getDateDate(item.endDate)| date: 'yMMMd'}}</span>
      <h1>{{item.name | uppercase}}</h1>
      <progress-bar [min]="0" [max]="item.getTotalDays()" [progress]="item.getLapsedDays()" [avatar]="item.avatar"></progress-bar>
    </ion-item>
  </ion-list>


</ion-content>