<!--
  Generated template for the ReminderDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="deleteReminder()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div style="display:flex">
    <div style="flex:3 0 0">
      <h1>{{reminder.name}}</h1>
      <div>
        <span>{{reminder.getDateDate(reminder.date)| date}}</span>
        <span *ngIf="reminder.hasDuration">{{"- "+reminder.endDate}}</span>
      </div>
      <!--<span padding-top style="font-size:4.2em">{{reminder.getPercentage()+ " %"}}</span>-->
    </div>

    <img style="margin-top:10%; width:25%;height:25%" [src]="reminder.avatar" />
  </div>

  <progress-bar [min]="0" [max]="reminder.getTotalDays()" [progress]="reminder.getLapsedDays()" [avatar]="reminder.avatar"></progress-bar>

  <ion-list style="margin-top:20px">
    <ion-item>
      <div style="display:flex">
        <div>From Start Date</div>
        <div style="font-weight: bold;text-align:end;width:100%">{{reminder.getLapsedDays() +" Days(s) Passed"}}</div>
      </div>
    </ion-item>
    <ion-item>
      <div style="display:flex">
        <div>Days left</div>
        <div style="font-weight: bold;text-align:end;width:100%">{{(reminder.getTotalDays() - reminder.getLapsedDays()) +" Days(s)"}}</div>
      </div>
    </ion-item>
    <ion-item>
      <div style="display:flex">
        <div>Today: </div>
        <div style="font-weight: bold;text-align:end;width:100%">{{getTodayDate()| date: 'short'}}</div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>